<mat-card class="about-me">
  <mat-card-content class="content">
    Experienced Software developer with about <strong>6</strong> years of experience focussed in full stack development. Actively working on Angular, React, Spring, and Hibernate
    frameworks. I have a proven record of building web application from scratch to production ready using front-end frameworks/libraries like React, Angular,
     and back-end frameworks like Spring, Spring-boot and Hibernate. I am very passionate about web development and active learner of new technologies. I always think
    about a problem in different ways and achieve a solution that suits best to solve the business problems with out
    compromising in quality and performance.
  </mat-card-content>
</mat-card>