@import '../../common/styles/variables';
.pill{
    border-radius: 10px;
    color: color(pure-white);
    background-color: color(light-blue);
    padding: 5px;
    padding-left: 6px;
    margin: 5px;
}