<div [attr.style]="safeStyle">
   <div class="header">
      <div class="details">
         <h1 class="name">Konda Reddy Yaramala</h1>
         <h3 class="role">Software Developer</h3>
         <div>
            <img title="Open LinkedIn Profile" (click)="routeTo('linkedIn')"
               src="https://img.icons8.com/color/64/000000/linkedin.png">
            <img title="Open Github Profile" (click)="routeTo('github')"
               src="https://img.icons8.com/nolan/64/000000/github.png">
         </div>
      </div>
   </div>
</div>