@import '../../common/styles/variables';
.header{
    width: 60%;
    height: 100vh;
    // position: relative;
    overflow: hidden;
    padding-left: 20%;
    padding-right: 20%;;
    margin-bottom: 10px;

    .details {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 100%;
        display: flex;
        color: #ffff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-weight: bold;
        h1, h3{
            text-align: center;
        }
    
        img:hover{
            cursor: pointer;
        }
    }


    &::after{
        content: "";
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: var(--bgc);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
        // animation:  animate-image 25s ease-in-out 1;

        @keyframes animate-image {

            50% {
                transform: scale(2);
            }

            100% {
                transform: sclae(1);
            }
            
        }
    }
 
}