@import './common/styles/fonts.scss';
@import './common/styles/mixins';
@import '~@angular/material/theming';
.app{
    $config: mat-typography-config(#{"'Poiret One', cursive;"});
    font-size: mat-font-size($config, headline);
    font-family: mat-font-family($config);
    .container{
        padding-left: 20px;
        padding-right: 10px;
    }
    @include fade-in();
    z-index: 1;
    
    canvas{
        position: absolute;
        z-index: -1;
    }
    overflow-x: hidden;
    overflow-y: auto;

    .iframe-container {
        overflow: hidden;
        // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
        padding-top: 56.25%;
        position: relative;
        iframe {
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
         }
      }
}
